/*DESKTOP VERSION */

@media only screen and (min-width: 1001px){

    .realizations-container{
        background-color: var(--Black);
        width:100%;
        height: auto;
        margin: 3rem 0rem 4rem 0;
        color:var(--White);
    }

    .realizations-container h2{
        display: block;
        margin: 2rem 0rem 4rem 0;
        padding-top:4rem;
        height: auto;
        font-size: 3rem;
        text-align: center;
    }
    .realizations{
        display: grid;
        align-items: center;
        width:80%;
        margin-left: 10%;
        height: auto;
        grid-template-columns: 1fr 1fr;

    }
    .realizations img{
        padding: 0.5rem;
    }

}

/*MOBILE VERSION */

@media only screen and (max-width: 1000px){
    .realizations-container{
        background-color: var(--Black);
        width:100%;
        height: auto;
        margin: 3rem 0rem 4rem 0;
        color:var(--White)
    }
    .realizations-container h2{
        margin: 1rem 0rem 1rem 0;
        padding-top:1rem;
        height: auto;
        font-size: 0.8rem;
        text-align: center;
        
    }
}